@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #f9f9f9;
}
header{
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 25px;
    font-weight: bold;
}
button{
    padding: 6px 45px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    font-size: 16px;
}
.books-container{
    min-height:100vh;
    max-width: 1200px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 500px;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.book{
    background-color: rgb(250, 250, 250);
    display: grid;
    grid-template-rows: auto 4fr 1fr;
    border-radius: 6px;
}
.book-title, .book-author{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.book-title{
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.book-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.delete-book-btn{
    padding: 6px 6px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #f74b4b 0%, #e13131 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(246, 54, 54, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    font-size: 16px;
    display: flex;

}
.read-toggle{
    padding: 6px 12px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    gap: 10px;
}
.add-book{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: rgba(0, 0, 0, 0.394);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.add-book > .container{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min(500px,100%);
    padding: 50px;
    border-radius: 6px;
    margin: 6px;
}
.container > input[type='text']{
    border: none;
    background-color: #f7f7f7;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 6px;
}
.add-book .container > h1{
    font-size: 35px;
}
.svg-icon{
    filter: invert(42%) sepia(0%) saturate(1352%) hue-rotate(87deg) brightness(1219%) contrast(119%);
}
